<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adityathakker.aditya.egyaan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="DATABASE"
            android:value="EGyaan.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.adityathakker.aditya.egyaan" />

        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.StudentHomeActivity"
            android:label="@string/title_activity_student_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ParentHomeActivity"
            android:label="@string/title_activity_parent_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SNoticesActivity"
            android:label="@string/title_activity_notices"
            android:parentActivityName=".ui.StudentHomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adityathakker.aditya.egyaan.ui.StudentHomeActivity" />
        </activity>
        <activity
            android:name=".ui.SDoubtsActivity"
            android:label="@string/title_activity_doubts"
            android:parentActivityName=".ui.StudentHomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adityathakker.aditya.egyaan.ui.StudentHomeActivity" />
        </activity>
        <activity
            android:name=".ui.SDoubtDetailActivity"
            android:label="@string/title_activity_doubt_detail"
            android:parentActivityName=".ui.SDoubtsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SDoubtsActivity" />
        </activity>
        <activity
            android:name=".ui.SNoticeDetailActivity"
            android:label="@string/title_activity_notice_detail"
            android:parentActivityName=".ui.SNoticesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SNoticesActivity" />
        </activity>
        <activity
            android:name=".ui.STimetableActivity"
            android:label="@string/title_activity_stimetable"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SMyInfo"
            android:label="@string/title_activity_smy_info"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>